---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<header class="flex flex-col justify-end gap-10 p-20 min-h-svh bg-yellow">
		<h1 class="text-header text-[48px]">Saparchive</h1>
		<p class="text-header font-normal">สภาไคฟ์</p>
	</header>
	<main class="text-center mx-auto text-gray-700 p-4">LOL</main>
</Layout>
