---
import { LandingSearch } from "@/components/LandingSearch";
import MeetingGist from "@/components/MeetingGist.astro";
import Nav from "@/components/Nav.astro";
import meetings from "@/data/26.json";
import Layout from "@/layouts/Layout.astro";
import { ExternalLink } from "lucide-astro";

const latest3Meetings = meetings.slice(0, 3);
---

<Layout title="สภาไคฟ์">
  <div class="bg-yellow">
    <header
      class="flex flex-col justify-between gap-10 mx-auto p-20 pt-10 min-h-svh container"
    >
      <Nav />
      <div class="w-full max-w-[640px] mx-auto">
        <LandingSearch />
      </div>
      <div class="flex flex-col gap-10">
        <h1 class="text-header text-[48px]">Saparchive</h1>
        <p class="text-header font-normal">สภาไคฟ์</p>
      </div>
    </header>
  </div>
  <main>
    <section class="flex flex-col gap-10 mx-auto p-20 py-50 container">
      <h2 class="text-header mb-5">การประชุมล่าสุด</h2>
      {
        latest3Meetings.map((meeting) => (
          <MeetingGist
            era={26}
            id={meeting.id}
            category={meeting.category}
            no={meeting.no}
            title={meeting.title}
          />
        ))
      }
      <a class="btn btn-primary text-base/1 mt-5" href="/26">
        ดูบันทึกการประชุมเพิ่มเติม
        <ExternalLink size={16} />
      </a>
    </section>
    <div class="bg-blue text-gray">
      <section class="flex flex-col gap-10 mx-auto p-20 py-50 container">
        <h2 class="text-header mb-10">สภาไคฟ์คือ?</h2>
        <p>
          เป็นเว็บไซต์ที่จัดทำข้อมูลการประชุมสภาผู้แทนราษฎรเพื่อให้ผู้ใช้สามารถค้นหาข้อมูลด้วยคีย์เวิร์ดเฉพาะได้
          อีกทั้งยังช่วยให้ Search Engine สามารถทำ index ได้อีกด้วย
        </p>
      </section>
    </div>
    <section class="flex flex-col gap-10 mx-auto p-20 py-50 container">
      <h2 class="text-header mb-10">ทำไมต้อง “สภาไคฟ์”?</h2>
      <p>
        เว็บฐานข้อมูลการประชุมสภาแสดงผลข้อมูลด้วยการใช้เทคนิค AJAX
        ซึ่งส่งผลให้ข้อมูลสามารถค้นหาด้วยคีย์เวิร์ดเฉพาะได้ยาก และ Search Engine
        ไม่สามารถทำ Index ได้ (หมายความว่า ไม่สามารถค้นหาผ่าน Seach Engine อย่าง Google
        ได้)
      </p>
      <p>
        สภาไคฟ์แก้ปัญหานี้โดยการดึงข้อมูลหน้าเว็บ AJAX ของการประชุมนั้นโดยตรง
        ผ่านการใช้รหัส id ของการบันทึกเอกสาร แล้วนำข้อมูลมาจัดลงใน Format ที่เหมาะสม
        โดยจะดึงข้อมูลในวันเสาร์ เวลา 18:00 น.
      </p>
    </section>
  </main>
</Layout>
