---
import { LandingSearch } from "@/components/LandingSearch";
import MeetingGist from "@/components/MeetingGist.astro";
import Nav from "@/components/Nav.astro";
import meetings from "@/data/26.json";
import Layout from "@/layouts/Layout.astro";
import { ExternalLink } from "lucide-astro";

const latest3Meetings = meetings.slice(0, 3);
---

<Layout title="สภาไคฟ์">
  <div class="bg-yellow">
    <header
      class="flex flex-col justify-between gap-10 mx-auto p-20 pt-10 min-h-svh container"
    >
      <Nav />
      <div class="w-full max-w-[640px] mx-auto">
        <LandingSearch />
      </div>
      <div class="flex flex-col gap-10">
        <h1 class="text-header text-[48px]">Saparchive</h1>
        <p class="text-header font-normal">สภาไคฟ์</p>
      </div>
    </header>
  </div>
  <main>
    <section class="flex flex-col gap-10 mx-auto p-20 py-50 container">
      <h2 class="text-header mb-5">การประชุมล่าสุด</h2>
      {
        latest3Meetings.map((meeting) => (
          <MeetingGist
            era={26}
            id={meeting.id}
            category={meeting.category}
            no={meeting.no}
            title={meeting.title}
          />
        ))
      }
      <a class="btn btn-primary text-base/1 mt-5" href="/26">
        ดูบันทึกการประชุมเพิ่มเติม
        <ExternalLink size={16} />
      </a>
    </section>
    <div class="bg-blue text-gray">
      <section class="flex flex-col gap-10 mx-auto p-20 py-50 container">
        <h2 class="text-header mb-10">“สภาไคฟ์” คือ?</h2>
        <p>
          สภาไคฟ์คือเว็บไซต์ที่จัดทำข้อมูลการประชุมสภาผู้แทนราษฎรชุดที่ 25 และชุดที่ 26
          เพื่อให้ผู้ใช้สามารถค้นหาข้อมูลได้รวดเร็วขึ้น
        </p>
      </section>
    </div>
    <section class="flex flex-col gap-10 mx-auto p-20 py-50 container">
      <h2 class="text-header mb-10">ทำไมถึงมี Solution นี้?</h2>
      <p>
        ถึงแม้ว่าเว็บฐานข้อมูลการประชุมสภาจะมีระบบการค้นหาที่ละเอียด
        แต่ในการค้นหาแต่ละครั้งอาจใช้เวลานาน เนื่องจากระบบไปค้นหาจากเอกสารและปีอื่นๆ
        ที่ไม่เกี่ยวข้องมาด้วย โดยตอนนี้สภาไคฟ์จะให้ความสำคัญกับชุดที่ 25 และชุดที่ 26
        เป็นหลัก เนื่องจากหลายหน่วยงานต้องการเข้าถึงข้อมูลของ 2 ชุดนี้เป็นหลัก
      </p>
      <p>
        เว็บฐานข้อมูลการประชุมสภาแสดงผลข้อมูลด้วยเทคนิค AJAX ซึ่งส่งผลให้ Search Engine
        เช่น Google ไม่สามารถทำ Index ได้ นั่นหมายความว่า เราจะไม่สามารถค้นหาข้อมูลผ่าน
        Search Engine ได้ โดยสภาไคฟ์แก้ปัญหานี้โดยการดึงข้อมูลหน้าเว็บ AJAX
        ของการประชุมนั้นออกมาโดยตรง ผ่านการใช้รหัส id ของการบันทึกเอกสาร
        แล้วนำข้อมูลมาจัดรูปแบบใหม่
      </p>
    </section>
    <div class="bg-blue text-gray">
      <section class="flex flex-col gap-10 mx-auto p-20 py-50 container">
        <h2 class="text-header mb-10">API</h2>
        <p>
          ตอนนี้สภาไคฟ์ใช้ Fuse.js ในการทำ Client Fuzzy Search โดยมีรายการ Data
          เพื่อนำไปใช้ดังนี้
        </p>
        <ul class="list-disc ml-[2ch]">
          <li>ชุดที่ 26: <code>/data/26.json</code></li>
          <li>Index ชุดที่ 26: <code>/data/26.index.json</code></li>
          <li>ชุดที่ 25: <code>/data/25.json</code></li>
          <li>Index ชุดที่ 25: <code>/data/25.index.json</code></li>
          <li>ทุกชุด: <code>/data/all.json</code></li>
          <li>Index ทุกชุด: <code>/data/all.index.json</code></li>
        </ul>
      </section>
    </div>
  </main>
</Layout>
