---
import MeetingGist from "@/components/MeetingGist.astro";
import { Search } from "@/components/Search";
import meetings from "@/data/26.json";
import Layout from "@/layouts/Layout.astro";
import { Landmark } from "lucide-astro";
---

<Layout title="บันทึกการประชุมสภาผู้แทนราษฎร ชุดที่ 26">
  <div class="bg-blue text-gray sticky top-0 z-50">
    <nav class="flex items-center gap-10 mx-auto px-20 h-50 container">
      <a class="btn btn-primary btn-sm text-base/1" href="/">
        <Landmark size={16} />
        กลับหน้าหลัก
      </a>
    </nav>
  </div>
  <section class="flex flex-col gap-10 mx-auto p-20 pt-[40px] pb-50 container">
    <h2 class="text-header">บันทึกการประชุมสภาผู้แทนราษฎร ชุดที่ 26</h2>
    <p class="-mt-5">
      นายกรัฐมนตรี: <ins class="no-underline">อนุทิน ชาญวีรกูล</ins>
      <del class="opacity-30">แพทองธาร ชินวัตร</del>
      <del class="opacity-30">เศรษฐา ทวีสิน</del>
    </p>
    <Search era={26} />
    <hr class="border-t-blue border-dashed my-5" />
    {
      meetings.map((meeting) => (
        <MeetingGist
          era={26}
          id={meeting.id}
          category={meeting.category}
          no={meeting.no}
          title={meeting.title}
        />
      ))
    }
  </section>
</Layout>
