<nav class="self-end flex items-center bottom-auto h-50">
  <menu class="flex items-center justify-end gap-10">
    <li>
      <a class="flex px-10 py-5 bg-gray rounded-full" href="/25">
        ครั้งที่ 25 (ประยุทธ์)
      </a>
    </li>
    <li>
      <a class="flex px-10 py-5 bg-gray rounded-full" href="/26">
        ครั้งที่ 26 (เศรษฐา)
      </a>
    </li>
  </menu>
</nav>
