<nav class="flex items-center justify-end fixed inset-0 bottom-auto px-10 h-50 z-50">
  <menu class="flex items-center justify-end gap-10">
    <li>
      <a class="flex px-10 py-5 bg-gray rounded-full" href="/">
        ครั้งที่ 25 (ประยุทธ์)
      </a>
    </li>
    <li>
      <a class="flex px-10 py-5 bg-gray rounded-full" href="/about">
        ครั้งที่ 26 (เศรษฐา)
      </a>
    </li>
  </menu>
</nav>