<nav class="self-end flex items-center bottom-auto h-50">
  <menu class="flex items-center justify-end gap-10">
    <li>
      <a class="btn btn-neutral btn-sm text-base/1 rounded-full" href="/25">
        <span>ชุดที่ 25 <span class="hidden 2xs:inline">(ประยุทธ์)</span></span>
      </a>
    </li>
    <li>
      <a class="btn btn-neutral btn-sm text-base/1 rounded-full" href="/26">
        <span>ชุดที่ 26 <span class="hidden 2xs:inline">(เศรษฐา)</span></span>
      </a>
    </li>
  </menu>
</nav>
